body {
  margin: 0; // removes margin on page
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased; // makes fonts look less pixelated
  -moz-osx-font-smoothing: grayscale; // removes grayscale rendering
}


